body{
    margin: 0 5%;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}
.wraper{
    display: flex;
    flex-direction: column;
}
header{
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000000;
    margin-bottom: 2em;
}

header h1{
    margin-left: 5%;
    font-size: 2.9em;
}

.filter{
    font-size: 1em;
    border-right: 2px solid #000000;
}

.filter_form{
    margin: 1em;
}


select {
    padding:3px;
    margin: 0;
    border-radius:4px;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#000;
    border:none;
    outline:none;
    width: 200px;
}


main{
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', cursive;
}

.main-content{
    width: 80%;
}
.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}

.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.article{
    display: flex;
    flex-direction: column;
    margin: 2%;
    justify-content: center;
    align-items: center;

}

.cover_img{
    width: 10em;
    height: 15em;
}

.author_name{
    font-size: .9em;
}

.about_author{
    display: flex;
    flex-direction: row-reverse;
}

.info{
    font-size: 1.2em;
    margin: 4em;
}
.author_photo{
    margin: 0 2em;
    width: 20em;
}

.header_button_addition{
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    user-select: none;
    font-size: 18px;
}

.header_button_addition span{
    margin-left: 1em;
}

.button_container{
    display: flex;
}
.button_reset-form{
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-left: 2em;
}

.formContainer form{
    display: flex;
    flex-direction: column;
}

.formContainer form input, textarea, button{
    margin: 1em 0;
    font-size: 16px;
    border-color: #343a40;
    border-radius: .25rem;
}

.formContainer form input{
    height: 2em;
    background: #f8f8f8;
    outline: none;
    user-select: none;
    padding-left: 1em;
    border-color: #343a40;
    border-radius: .25rem;
}

.formContainer textarea, #text-to-find{
    border-radius: .25rem;
    background: #f8f8f8;
    outline: none;
    user-select: none;
    font-size: 16px;
    padding-left: 1em;
    border: solid 2px #343a40;
}


.formContainer textarea{
    padding-top: 1em;
}

#text-to-find{
    width: 16em;
    height: 1.7em;
}

.button_create {
    width: 200px;
    height: 50px;
    font-size: 20px;
}


.button_reset{
    width: 100px;
    height: 34px;
    font-size: 16px;
}

.button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: .25rem;
}

.button:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.button:active {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

@media (min-width: 500px) {

}

@media (min-width: 900px) {
    main{
        flex-direction: row;
    }
    .filter {
        font-size: 1.2em;
        width: 30%;
    }
}